@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0C0C0F;
}

.row {
  display: flex;
  justify-content: center;
}

.time {
  font-size: 32px; 
  font-weight: 500;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.progress-item {
  height: 16px;
  min-height: 16px;
  width: 16px;
  border-radius: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  margin-left: 2px;
  margin-right: 2px;
}

.progress-item.half {
  background: linear-gradient(90deg, #fff 50%, transparent 50%);
}

.progress-item.done {
  height: 16px;
  min-height: 16px;
  width: 16px;
  border-radius: 100%;
  border: 2px solid white;
  background-color: white;
  box-sizing: border-box;
  margin-left: 2px;
  margin-right: 2px;
}

.action {
  margin-left: 8px;
  margin-right: 8px;
  background-color: #256EFF;
  display: flex;
  padding: 8px;
  border-radius: 4px;
}

.timer-info {
  margin-top: 16px;
  margin-bottom: 28px;
}

.text {
  color: white;
}