@import './colors.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
	font-family: Inter, sans-serif;
}

.titlebar {
  height: 30px;
  background:  hsl(var(--color-app));
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: hsl(var(--color-app-box));
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
}

.titlebar-button:hover {
  background: hsl(var(--color-app-hover));
}

.titlebar-button--close:hover {
  background: red;
}

.progress-item.half {
  background: linear-gradient(90deg, #fff 50%, transparent 50%);
}

.progress-item.done {
  border: 2px solid #fff;
  background-color: #fff;
}

.backdrop-blur {
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}

.top-bar-blur {
	@apply border-app-line/50;
	backdrop-filter: saturate(120%) blur(18px);
}

[type='button'] {
	-webkit-appearance: none;
}

.fade-in-heading {
	animation: fadeInDown 1s forwards;
	opacity: 0;
}

.fade-in {
	animation: fadeIn 1s forwards;
	opacity: 0;
}

.fade-in-image {
	animation: fadeInDown 1s forwards;
	animation-delay: 600ms;
	opacity: 0;
}

.animation-delay-1 {
	animation-delay: 200ms;
}

.animation-delay-2 {
	animation-delay: 500ms;
}

.animation-delay-3 {
	animation-delay: 700ms;
}

.animation-delay-4 {
	animation-delay: 1000ms;
}

.animation-delay-5 {
	animation-delay: 1200ms;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
