@import './colors.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
	font-family: Inter, sans-serif;
}

.progress-item.half {
  background: linear-gradient(90deg, #fff 50%, transparent 50%);
}

.progress-item.done {
  border: 2px solid #fff;
  background-color: #fff;
}

.backdrop-blur {
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}

.top-bar-blur {
	@apply border-app-line/50;
	backdrop-filter: saturate(120%) blur(18px);
}

[type='button'] {
	-webkit-appearance: none;
}